<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>낙1상 감지 갤러리</title>
</head>
<body>
  <h1>낙상 감지 이미지 갤러리</h1>
  <div id="gallery"></div>

  <script>
    fetch('/gallery')
      .then(res => res.json())
      .then(data => {
        const container = document.getElementById('gallery');
        data.reverse().forEach(item => {
          const div = document.createElement('div');
          div.innerHTML = `
            <p><strong>${item.timestamp}</strong></p>
            <img src="${item.url}" width="300" />
            <hr/>
          `;
          container.appendChild(div);
        });
      });
  </script>
</body>
</html>
